<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <style>
        body {
            margin: 0;
        }

        #app {
            width: 90%;
            margin: 0 auto;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <section class="example v-text">
            <h2># example v-text</h2>
            <span v-text="text"></span>
            <p>click count = {{ count }} ，👌🏻 </p>
        </section>

        <section class="example v-click">
            <h2># example v-click</h2>
            <button v-click='handClick'>add</button>
        </section>

        <section class="example v-model">
            <h2># example v-model</h2>
            <input type="text" v-model='count'>
        </section>

    </div>
</body>

</html>